@import "tailwindcss";

:root {
  /* Base Colors */
  --background: #f8f9fa; /* Platinum White */
  --foreground: #09090b; /* Jet Black */

  /* Emerald Teal Palette */
  --color-brand-primary: #008d85; /* Emerald Teal */
  --color-brand-dark: #004d49; /* Deep Teal */
  --color-brand-light: #f0fdfc; /* Mint White */
  --color-brand-slate: #ccfbf1; /* Light Teal Slate */
  --color-brand-accent: #14b8a6; /* Bright Teal Accent */

  /* Fonts */
  --font-sans: "Outfit", sans-serif;
}

@layer base {
  body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-sans);
  }

  /* Custom Scrollbar */
  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background: var(--color-brand-slate);
    border-radius: 999px;
    border: 2px solid transparent;
    background-clip: content-box;
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-brand-primary);
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 40s linear infinite;
}
