@import "tailwindcss";

:root {
  /* Base Colors */
  --background: #f8f9fa; /* Platinum White */
  --foreground: #09090b; /* Jet Black */

  /* Emerald Teal Palette */
  --color-brand-primary: #008d85; /* Emerald Teal */
  --color-brand-dark: #004d49; /* Deep Teal */
  --color-brand-light: #f0fdfc; /* Mint White */
  --color-brand-slate: #ccfbf1; /* Light Teal Slate */
  --color-brand-accent: #14b8a6; /* Bright Teal Accent */

  /* Fonts */
  --font-sans: "Outfit", sans-serif;
}

@layer base {
  body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-sans);
  }
}
